/*All Page*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background: #E5E5E5;
}

/*Main*/

.main {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Header-Logo */

.logo-header img {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 22px;

}

/*The Box For The Input Message*/

.txt-mensaje {

    text-transform: capitalize;
    position: absolute;
    width: 600px;
    height: 400px;
    left: 15%;
    top: 138px;

    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    justify-content: baseline;
    resize: none;

    color: #0A3871;
    background: transparent;
    border: none;
}

/*Placeholder Color*/

::placeholder {
    color: #0A3871;
}

/*When The textarea is selected*/

.txt-mensaje:focus {
    border: none;
    outline: none;
    text-transform: lowercase;
}

.txt-mensaje:focus::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    opacity: 0;
    -webkit-transition: opacity .0s ease-in-out;
    -moz-transition: opacity .0s ease-in-out;
    -o-transition: opacity .0s ease-in-out;
    transition: opacity .0s ease-in-out;

}

.txt-mensaje:focus::-moz-placeholder {
    /* Firefox 19+*/
    opacity: 0;
}

.txt-mensaje:focus:-ms-input-placeholder {
    /* IE 10+ */
    opacity: 0;
}

.txt-mensaje:focus:-moz-placeholder {
    /* Firefox 18- */
    opacity: 0;
}

/*Image and Message of the exceptions*/

.alerta {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: auto;
    height: 18px;
    left: 13%;
    top: 540px;

}

.img-excepciones {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

}

label {
    position: static;
    width: auto;
    height: 10px;
    left: 24px;
    top: 0px;
    padding-left: 29px;
    font-weight: 600;

    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    color: #495057;
}

/*Buttons to encrypt and decrypt */

.div-botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 12%;
    top: 580px;
}

.btn-encrip {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;

    position: static;
    width: 220px;
    height: 67px;
    left: 0px;
    top: 0px;

    background: #0A3871;
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
    flex-grow: 0;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    justify-content: center;

}

.btn-desencrip {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;

    position: static;
    width: 228px;
    height: 67px;
    left: 352px;
    top: 0px;

    background: #D8DFE8;

    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;

    color: #0A3871;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    justify-content: center;
}

/*Section To Copy The Encrypted or Encrypted Text*/

.copy-message {
    position: absolute;
    width: 400px;
    height: 639px;
    left: 65%;
    top: 15px;
    padding-left: 20px;
    padding-top: 80px;
    background: #FFFFFF;
    border-radius: 32px;
    transition: 0.8s all;
}

.copy-message:hover {
    /* Shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.527);
}

.copy-message h2 {
    position: static;
    width: 336px;
    height: 58px;
    left: 0px;
    top: 0px;
    text-transform: capitalize;

    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 120%;


    text-align: center;
    color: #343A40;
    background: #FFFFFF;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
}

.copy-message h3 {
    position: static;
    width: 336px;
    height: 48px;
    left: 0px;
    top: 74px;
    text-transform: capitalize;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;

    text-align: center;
    color: #495057;
    background: #FFFFFF;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
}

.copy-message-div,
.copy-message-div img {
    padding-top: 15px;
    background: #FFFFFF;
}